.bg-custom {
  background-color: black;
}

.btn-outline-dark:hover, .btn-outline-custom {
  color: white;
  background-color: black;
  border-color: black; 
}

.container {
    padding-top: 70px;
  }

.fa-gamepad {
  font-size: 30px;
}

.fa-eye {
  color: black;
}

.card {
  border: none;
}

.card-group {
  cursor: pointer;
  width: 35%;
  margin: auto;
}

.replay-card-group {
  width: 65%;
}

.card-text {
  font-size: 50px;
  user-select: none;
}

.replay-card-text {
  font-size: 30px;
  user-select: none;
}

.card-1, .card-4 {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

.card-2, .card-5 {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

.card-3, .card-6 {
  border-bottom: 10px solid black;
}

.card-7, .card-8 {
  border-right: 10px solid black;
}

.meme {
    display: block;
    margin: 15px auto;
}

table {
  text-align: center;
}

td {
  padding-top: 12px;
}

.about {
  font-size: 21px;
}

.fa-github {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  color: #333232;
}