{% extends "layout.html" %}

{% block title %}
  Unbeatable Tic-Tac-Toe | Play Game
{% endblock %}

{% block div %}
  <li class="nav-item active">
    <a class="nav-link" href="/">Play Game<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Match History</a>
  </li>
{% endblock %}

{% block main %}
  <div class="container">
    <h2 class="font-weight-light text-center text-lg mt-4 mb-0">Play Game!</h2>
    <hr class="mt-2 mb-4">

    <form action="" class="form-inline justify-content-center mb-1">
      <button type="button" id="piece-X" class="btn btn-primary mx-1 shadow-sm" onclick="choosePiece(this)">X</button>
      <button type="button" id="piece-O" class="btn btn-primary mx-1 shadow-sm" onclick="choosePiece(this)">O</button>
    </form>
    <p class="text-center font-weight-light mb-5">Select a piece to start the game</p>

    <div class="card-group">
      <div class="card card-1">
        <div class="card-body">
          <p id="1" onclick="userClick(this)" class="card-text text-center align-middle">1</p>
        </div>
      </div>
      <div class="card card-2">
        <div class="card-body">
          <p id="2" onclick="userClick(this)" class="card-text text-center">2</p>
        </div>
      </div>
      <div class="card card-3">
        <div class="card-body">
          <p id="3" onclick="userClick(this)" class="card-text text-center">3</p>
        </div>
      </div>
    </div>

    <div class="card-group">
      <div class="card card-4">
        <div class="card-body">
          <p id="4" onclick="userClick(this)" class="card-text text-center">4</p>
        </div>
      </div>
      <div class="card card-5">
        <div class="card-body">
          <p id="5" onclick="userClick(this)" class="card-text text-center">5</p>
        </div>
      </div>
      <div class="card card-6">
        <div class="card-body">
          <p id="6" onclick="userClick(this)" class="card-text text-center">6</p>
        </div>
      </div>
    </div>

    <div class="card-group mb-5">
      <div class="card card-7">
        <div class="card-body">
          <p id="7" onclick="userClick(this)" class="card-text text-center">7</p>
        </div>
      </div>
      <div class="card card-8">
        <div class="card-body">
          <p id="8" onclick="userClick(this)" class="card-text text-center">8</p>
        </div>
      </div>
      <div class="card card-9">
        <div class="card-body">
          <p id="9" onclick="userClick(this)" class="card-text text-center">9</p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="gameResultModal" tabindex="-1" role="dialog" aria-labelledby="gameResultModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title col-12 text-center"id="gameResultModal"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Thanks for playing! If you'd like to publically display your game on the global match history, just input your name and hit submit!</p>
            <form class="form-inline justify-content-center" action="">
              <div class="form-group">
                <input type="input" class="form-control" id="name" placeholder="Enter your name here!">
                <button type="submit" class="btn btn-primary ml-2">Submit</button>
              </div>
            </form>
            <img class="meme justify-content-center mb-2" width="400">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="resetGame()">Play Again</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}