{% extends "layout.html" %}

{% block title %}
  Unbeatable Tic-Tac-Toe | Match History
{% endblock %}

{% block div %}
  <li class="nav-item">
    <a class="nav-link" href="/">Play Game<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/match_history">Match History</a>
  </li>
{% endblock %}

{% block main %}
  <div class="container">
    <h2 class="font-weight-light text-center text-lg mt-4 mb-0">Match History</h2>
    <hr class="mt-2 mb-4">
    <p class="text-center">
      Record against the computer: 
      {{ results["wins"] }} 

      {% if results["wins"] == 1 %}
        win
      {% else %}
        wins
      {% endif %} 

      {{ results["draws"] }} 

      {% if results["draws"] == 1 %}
        draw
      {% else %}
        draws
      {% endif %} 

      {{ results["losses"] }} 

      {% if results["losses"] == 1 %}
        loss
      {% else %}
        losses
      {% endif %} 
    </p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Date</th>
          <th scope="col">Piece</th>
          <th scope="col">Game Notation</th>
          <th scope="col">Result</th>
          <th scope="col">Replay Match</th>
        </tr>
      </thead>
      <tbody>
        {% for match in match_history %}
          <tr>
            <td>{{ match[0] }}</td>
            <td>{{ match[1] }}</td>
            <td>{{ match[2] }}</td>
            <td>{{ match[3] }}</td>
            <td>{{ match[4] }}</td>
            <td><button type="button" class="btn btn-outline-secondary"><i class="fa fa-eye fa-lg"></i></button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}