{% extends "layout.html" %}

{% block title %}
  Unbeatable Tic-Tac-Toe | Match History
{% endblock %}

{% block div %}
  <li class="nav-item">
    <a class="nav-link" href="/">Play Game<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/match_history">Match History</a>
  </li>
{% endblock %}

{% block main %}
  <div class="container">
    <h2 class="font-weight-light text-center text-lg mt-4 mb-0">Match History</h2>
    <hr class="mt-2 mb-4">
    <p class="text-center">
      Record against the computer: 
      {{ results["wins"] }} 

      {% if results["wins"] == 1 %}
        win
      {% else %}
        wins
      {% endif %} 

      {{ results["draws"] }} 

      {% if results["draws"] == 1 %}
        draw
      {% else %}
        draws
      {% endif %} 

      {{ results["losses"] }} 

      {% if results["losses"] == 1 %}
        loss
      {% else %}
        losses
      {% endif %} 
    </p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Date</th>
          <th scope="col">Piece</th>
          <th scope="col">Game Notation</th>
          <th scope="col">Result</th>
          <th scope="col">Replay Match</th>
        </tr>
      </thead>
      <tbody>
        {% for match in match_history %}
          <tr>
            <td>{{ match[0] }}</td>
            <td>{{ match[1] }}</td>
            <td>{{ match[2] }}</td>
            <td>{{ match[3] }}</td>
            <td>{{ match[4] }}</td>
            <td><button type="button" class="btn btn-outline-secondary" onclick="replayGame(' {{ match[0] }} ','{{ match[2] }}','{{ match[5] }}')"><i class="fa fa-eye fa-lg"></i></button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="modal fade" id="replayGameModal" tabindex="-1" role="dialog" aria-labelledby="replayGameModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="replay-modal-title" class="modal-title col-12 text-center"></h5>
          </div>
          <div class="modal-body">
            <div class="card-group replay-card-group mt-4">
              <div class="card card-1">
                <div class="card-body">
                  <p id="1" class="replay-card-text text-center">&nbsp;</p>
                </div>
              </div>
              <div class="card card-2">
                <div class="card-body">
                  <p id="2" class="replay-card-text text-center">&nbsp;</p>
                </div>
              </div>
              <div class="card card-3">
                <div class="card-body">
                  <p id="3" class="replay-card-text text-center">&nbsp;</p>
                </div>
              </div>
            </div>
        
            <div class="card-group replay-card-group">
              <div class="card card-4">
                <div class="card-body">
                  <p id="4" class="replay-card-text text-center">&nbsp;</p>
                </div>
              </div>
              <div class="card card-5">
                <div class="card-body">
                  <p id="5" class="replay-card-text text-center">&nbsp;</p>
                </div>
              </div>
              <div class="card card-6">
                <div class="card-body">
                  <p id="6" class="replay-card-text text-center">&nbsp;</p>
                </div>
              </div>
            </div>
        
            <div class="card-group replay-card-group mb-5">
              <div class="card card-7">
                <div class="card-body">
                  <p id="7" class="replay-card-text text-center">&nbsp;</p>
                </div>
              </div>
              <div class="card card-8">
                <div class="card-body">
                  <p id="8" class="replay-card-text text-center">&nbsp;</p>
                </div>
              </div>
              <div class="card card-9">
                <div class="card-body">
                  <p id="9" class="replay-card-text text-center">&nbsp;</p>
                </div>
              </div>
            </div>
            <form class="form-inline justify-content-center mb-1">
              <button type="button" class="mx-4 shadow-sm btn btn-outline-dark" onclick="previousMove()"><i class="fa fa-arrow-left"></i></button>
              <button type="button" class="mx-4 shadow-sm btn btn-outline-dark" onclick="nextMove()"><i class="fa fa-arrow-right"></i></button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" onclick="closeModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}